    <!-- About Section -->
   <section id="about" class="container content-section text-center">
        <div align= "center" class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
                <p> Opening Hours
                <br/>
                <table class="opening-hours-table">
            <tr id="Monday" itemprop="openingHours" title="Open Monday at 9am to 5.30pm">
                <td>Monday</td>
                <td class="opens">09:00</td>
                <td>-</td>
                <td class="closes">17:30</td>
            </tr>
            <tr id="Tuesday" itemprop="openingHours" title="Open Tuesday at 9am to 6pm">
                <td>Tuesday</td>
                <td class="opens">09:00</td>
                <td>-</td>
                <td class="closes">18:00</td>
            </tr>
            <tr id="Wednesday" itemprop="openingHours" title="Open Wednesday at 9am to 5.30pm">
                <td>Wednesday</td>
                <td class="opens">09:00</td>
                <td>-</td>
                <td class="closes">17:30</td>
            </tr>
            <tr id="Thursday" itemprop="openingHours" title="Open Thursday at 9am to 6pm">
                <td>Thursday</td>
                <td class="opens">09:00</td>
                <td>-</td>
                <td class="closes">18:00</td>
            </tr>
            <tr id="Friday" itemprop="openingHours" title="Open Friday at 9am to 5.30pm">
                <td>Friday</td>
                <td class="opens">09:00</td>
                <td>-</td>
                <td class="closes">17:30</td>
            </tr>
            <tr id="Saturday" itemprop="openingHours" title="Open Saturday at 8am to 3pm">
                <td>Saturday</td>
                <td class="opens">08:00</td>
                <td>-</td>
                <td class="closes">14:45</td>
            </tr>
        </table>
    </div>
</section>
                <br/>
             <div align="center">  <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Squires%20Easingwold&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embed google map</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
           <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-f0261281-0276-4c46-8e60-8cfb529ae74b"></div>   
           </div>
        </div>
    </section>
