    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
                <p> Opening Hours
                <br/>
Monday	9AM–5:30PM
Tuesday	9AM–6PM
Wednesday	9AM–5:30PM
Thursday	9AM–6PM
Friday	9AM–5:30PM
                  Saturday	8AM–2:45PM </p>
                <br/>
                <div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4Yg3i8_Hc7Wtizx_R3VnBZpxI5dJnL2I&callback=myMap"></script>
              </div>
        </div>
    </section>
